<% layout('/layouts/page') -%>
 
<p class="lead">Hey all!</p>


<button class="js-netar-accordion-control">Open accordion</button>

<div>this i s may accordion</div>
<div class="netar-accordion-block">
  <div class="js-netar-accordion-control accordion-control accordion-closed">control</div>
  <div class="netar-accordion-body">body</div>
</div>
<div class="netar-accordion-block">
  <div class="js-netar-accordion-control accordion-control accordion-closed">control</div>
  <div class="netar-accordion-body">body</div>
</div>