<% layout('/layouts/page') -%>
<style>
  body {
    background-color: black;
    color: white;
  }
</style>
<div style="text-align: center; margin: 0 auto; max-width: 600px;">
  <h1>(43.7158798, 11.8732961)</h1> 
  <h2>Ponterosso, Bibbiena.</h2>
  <h3>Da Arezzo:</h3> 
  <p>Prendere la strada statale casentinese fino a corsalone e costeggiare il torrente.</p>
  <h3>Da Firenze:</h3>
  <p>Pontassieve-Consuma-Bibbiena-Corsalone o A1 fino a SanGiovanni Valdarno-San Giustino Valdarno-Talla-Corsalone.</p>
</div>